/* Reset CSS */
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  --text: #131313;
  --highlight: #ed34a2;
  --shadowBox: #00000088;
  --background: #f3f3f3;
  --backgroundLight: #e3e3e3;
  --backgroundMedium: #a0aabd;
  --backgroundDark: #282c35;
  --backgroundCode: #ffffcc;
}

body {
  background: var(--background);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 2rem;
}

/* Content CSS */
#box {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10rem;
  width: 20rem;
  height: 20rem;
  margin: 0 auto;
  color: var(--background);
  background-color: var(--highlight);
  border-radius: 1rem;
  box-shadow: 1rem 1rem 1rem 0px var(--shadowBox);
  cursor: pointer;
  transition: all 0.5s linear;
}

h1 {
  margin: 1rem 0;
  color: var(--highlight);
  text-align: center;
  font-size: 5rem;
}

h2 {
  margin: 0 0 2rem;
  text-align: center;
  font-size: 2.5rem;
  opacity: 0.75;
}

code {
  padding: 2rem;
  margin-bottom: 2rem;
  font-size: 2rem;
  background-color: var(--backgroundCode);
}

span {
  color: var(--background);
  background-color: var(--backgroundDark);
  cursor: pointer;
  transition: all 0.5s;
  border-radius: 0.5rem;
  box-shadow: 0.5rem 0.5rem 0.5rem 0px var(--shadowBox);
}

span:hover {
  opacity: 0.7;
  transform: translateY(-2px);
}

#check-animation,
#check-action {
  display: none;
}

.type-animation {
  width: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.type-animation span {
  padding: 1.5rem 5rem;
  margin: 0 2rem;
  font-size: 3rem;
}

.content {
  margin: 2rem 0;
  position: relative;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

form label {
  font-size: 2rem;
  margin-bottom: 0.175rem;
}

form input,
form select {
  font-size: 2rem;
  padding: 0.25rem 0.5rem;
  margin-bottom: 1rem;
}

form .actions {
  margin-bottom: 2rem;
}

form .actions span {
  padding: 1rem 2rem;
  margin-right: 1rem;
  font-size: 2rem;
}

.painel {
  position: absolute;
  height: 50vh;
  z-index: 5;
  opacity: 1;
  transition: all 0.5s;
  width: 100%;
}

.painel > div {
  display: grid;
  grid-template-columns: calc(50% - 1rem) calc(50% - 1rem);
  grid-column-gap: 2rem;
}

.painel .code {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.painel .code .sample {
  display: flex;
  padding: 5rem;
  margin-bottom: 1rem;
  border-radius: 2%;
  width: 100%;
  transition: all 0.3s;
}

#check-animation:checked ~ .content .painel-animations,
#check-animation:not(:checked) ~ .content .painel-transitions {
  z-index: 0;
  opacity: 0;
}

#check-animation:checked ~ .type-animation span:first-child,
#check-animation:not(:checked) ~ .type-animation span:last-child,
#check-action:checked ~ .actions .action-hover,
#check-action:not(:checked) ~ .actions .action-infinity {
  background-color: var(--backgroundMedium);
  box-shadow: 0.25rem 0.25rem 0.25rem 0px var(--shadowBox);
}

.soon {
  text-align: center;
  font-size: 3rem;
  opacity: 0.5;
  margin-top: 5rem;
}
